ul, li {
    -webkit-padding-start: 0px;
    -webkit-margin-start: 0px;
    -webkit-padding-before: 0px;
    -webkit-margin-before: 0px;
    padding: 0;
    margin: 0;
    background: none;
    text-decoration: none;
}


body {
    font-family: 'Cantarell', Arial, sans-serif;
    font-size: 12pt;
    color: dimgrey;
    margin: 0em;
    background-color: white;
}


h1 {
    font-family: 'Cantarell', Arial, sans-serif;
    color: #D6BF9D;
    font-weight: 600; !important;
    margin: 0;
    letter-spacing: -1px;
}


h3 {
    font-family: 'Cantarell', Arial, sans-serif;
    color: #8A7557;
}


h3:hover {
    color: #D6BF9D;
}


h4 {
    font-family: 'Cantarell', Arial, sans-serif;
    color: #1A303D;
}


h5 {
    font-family: Arial, sans-serif;
    color: #1C2B4A;
}

p {
    margin: 0;
}

a {
    text-decoraction: none;
}


a:hover {
    text-decoration: none;
}


a:focus {
    text-decoration: none;
}

.pageHead {
    height: 10%;
    margin: 0;
    max-height: 200px;
    background-color: white;
}

/* Empty class for navbar links that are not currently active */
.unactive {

}

.navbar-default {
    background-color: white;
    margin-bottom: 0;
}


.navbar-nav .navbar > li > a:hover,
.navbar-nav .navbar > li > a:active,
.navbar-nav .navbar > li > a:focus {
    background-color: transparent;
    transition: all .5s;
}

/* Aðal-krækjurnar: class = active */
ul.nav.navbar-nav.navbar-center > li.active > a {
    background-color: transparent;
    color: #8A7557;
}


/* Aðal-krækjurnar í navbar */
.navbar-nav.navbar-center > li > a {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #1A303D;
}

.navbar-nav.navbar-center > li > a:hover,
.navbar-nav.navbar-center > li > a:focus {
    color: #8A7557;
}

/*
.navbar-nav.navbar-center > li > a > .active {
    color: #8A7557;
}
*/

.navbar-nav.navbar-center {
    margin-left: 10%;
}

.navbar-default .navbar-nav>li>a {
    color: #1A303D;
}

.navbar-nav {
    vertical-align: center;
    text-align: center;
}

/* Tungumála-krækjan */
.navbar-nav.navbar-right {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 0.5em;
    color: #1A303D; !important;
}

/* Tungumála-krækjan */
.navbar-nav.navbar-right > li > a:hover,
.navbar-nav.navbar-right > li > a:focus {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #8A7557;
}

.navbar-nav li a {
    line-height: 100px;
}

/*
.strong {
    background-color: transparent;
}


.strong {
    font-weight: 500;
}
*/

.mainSection {
    display: flex;
    flex-direction: row;
}


.mainImage {
    min-width: 50%;
}

.mainTitles {
    min-width: 50%;
    padding: 2em;
    background-color: #1A303D;
    color: white;
}

.titles {
    text-align: center;
    margin-bottom: 2em;
}

.textTitle {
    text-align: center;
    margin-top: 2em;
}

/*Main section, right column */
.titleTextBox {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0em;
    padding: 0em;
    min-width: 48%;
    background-color: #1A303D;
}


/*Allir 18 ára og eldri...*/
.auglysing {
    background-color: #8A7557;
    color: white;
    width: 40%;
    /*height: 20%;*/
    padding: 1em;
    text-align: center;
    margin: 0em;
}

.textBox {
    background-color: transparent;
    border-radius: 3px;
    border: 0.5 solid transparent;
    padding: 2em;
    margin: 2em;
    min-width: 60%;
    text-align: center;
    align-self: center;
    color: #8A7557;
    max-width: 80%;
}


.textBoxEmail {
    color: white;
}


.textBoxEmail:hover {
    color: #D6BF9D;
    text-decoration: none;
}


.textBoxEmail:visited {
    color: #D6BF9D;
    text-decoration: none;
}


.textBoxEmail:focus {
    color: #D6BF9D;
    text-decoration: none;
}


.hideItem {
    display: none;
}


/*button boxið á forsíðunni */
.buttonBox {
    padding-bottom: 2em;
    padding-top: 2em;
}


.btn-default {
    background-color: #8A7557 !important;
    border: none;
    color: white;
    border-radius: 0px !important;
    text-align: center;
}


.btn-default a {
    color: white;
}


.btn-default a:hover {
    color: #8A7557;
}


.btn-default:hover {
    background-color: #D6BF9D !important;
    color: #8A7557;
}


.btn-default:active {
    background-color: #8A7557 !important;
    color: white;
    border: none;
}


.btn-default:visited {
    background-color: #8A7557 !important;
    color: white;
    border: none;
}


.btn-default:focus {
    background-color: #8A7557 !important;
    color: white;
    border: none;
}


.btn-default:disabled {
    background-color: #8A7557 !important;
    color: white;
    border: none;
}


.container {
    position: relative;
}


.loginInfo {
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.loginInfoItem {
    width: 33.3%;
    background-color: white;
    margin: 1em;
    padding: 1em;
}

.readMore a {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: dimgrey;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}


.socialMedia {
    padding: 1em;
    min-height: 2em;
    background-color: white;
    text-align: center;
}

.socialMedia {
    text-align: center;
}

.pageFoot {
    background-color: white;
}

.logoFoot {
    text-align: center;
    border-top: 0.5px solid white;
    padding: 1em;
    min-height: 100px;
}




/*fyrir skjástærð 1298 og minni*/
@media screen and (max-width: 1298px) {  /* collapse navbar */

    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

    .navbar-collapse {
        padding-top: 0em;
        padding-bottom: 0em;
        padding-right: 0em;
        padding-left: 0em;
    }

    .navbar-nav li a {
        line-height: 15px;
    }

     .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar-center {
        padding: 0em;
        margin: 0em;
        justify-content: center;
     }

    .nav>li>a {
        padding: 10px 0px;
    }

    .navbar-right {
        padding-top: 0em;
        padding-bottom: 0em;
        padding-left: 60px;
        margin: 0em;
        justify-content: center;
    }
}


/*fyrir skjástærð 1123 og minni*/
@media screen and (max-width: 1123px) {  /* Collapse mainSection */
    body {
        font-size: large;
        min-width: 380px;
    }

    .auglýsing {
        font-size: 10pt;
        width: 60%;
    }

    .loginInfo {
        flex-flow: wrap;
    }

    .mainSection {
        flex-direction: column-reverse;
    }

    .loginInfoItem {
        width: 100%;
    }

}



