
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: white;
    color: black;
    margin: 0em;
}


h1 {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif
}

.pageHead {
    height: 10%;
    margin: 0em;
    max-height: 200px;
    background-color: lightskyblue;
}

.banner-logo {
    padding: 2em;
}

.custom-navbar {
    background-color: lightskyblue;
}

.navbar-left {
    margin-left: 0.5em;
}

.navbar-right {
    margin-right: 0.5em;
}

.intermed {
    padding: 1.5em;
    background-color: white;
}

.navbar-toggle {
    z-index:3;
}

.pageFoot {
    background-color: lightskyblue;
    height: 7%;
}


.logoFoot {
    text-align: center;
    margin: 2em;
}



/*fyrir skjástærð 511 og stærri*/
@media screen and (min-width: 511px) {
    body {
        background-color: white;
    }
}

/*fyrir skjástærð 510 og minni*/
@media screen and (max-width: 510px) {
    body {
        background-color: yellow;
    }

    .banner-logo {
        height: 70px;
        width: 260px;
    }

    .banner-flags {
        display: none;
    }


}







